:root {
  --white: #ffffff;
  --light-brown: rgb(172, 123, 86);
  --dark-brown: rgb(60, 44, 38);
  --black: rgb(37, 38, 40);
  --blue: rgb(84, 134, 189);
  --light-blue: rgb(125, 175, 211);
  --gold: rgb(255, 215, 0);
}
